{{ form_start(form) }}
<div class="container">
    <div class="row align-items-center pb-4">
        <div class="col">{{ form_row(form.name) }}</div>
        <div class="col">{{ form_row(form.prename) }}</div>
        <div class="col">{{ form_row(form.birthdate) }}</div>
    </div>
</div>
    {{ form_widget(form) }}
    <div class="d-grid gap-2 col-1 mx-auto">
        <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
    </div>

{{ form_end(form) }}
